.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 460px;
  max-width: 100%;
  background: #D9D9D9;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  padding: 10px;
  transition: border-radius 0.3s;
  width: 320px;
  height: 80px;
}

.search-bar-container {
  position: absolute;
  width: 320px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1.5px solid #092c4c;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(85, 84, 84, 0.5);
}

.search-bar-container input {
  color: #A09A9A;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  /* 아래에만 선을 추가합니다 */
  margin-top: 25px;
  margin-left: 25px;
  padding-bottom: 10px;
  width: 265px;
}

.search-button-container {
  position: absolute;
  margin-top: 12px;
  margin-left: 220px;
}

.search-button-container button {
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  height: 35px;
}

.search-button-container img {
  width: 40px;
  height: 40px;
  margin-bottom: 3px;
}


.friends-list-container {
  width: 300px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1.5px solid #092c4c;
  background: #D9D9D9;
  box-shadow: 4px 4px 4px 0px rgba(85, 84, 84, 0.5);
  padding: 10px;
  margin-top: 30px;
  overflow: hidden;
}

.friends-container {
  width: 320px;
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20px;
  margin-left: -10px;
  background-color: #FFF;
}

.friends-list,
.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.friends-list li,
.search-results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

.friends-list li span,
.search-results li span {
  flex-grow: 1;
  font-size: px; /* 이름 크기 조정 */
  text-align: center; /* 가운데 정렬 */
  white-space: nowrap; /* 이름이 잘리지 않도록 */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
}

.friends-list li button {
  border-radius: 5px;
  border: 1px solid #000;
  background: #E83F3F;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 20px;
}

.search-results li button {
  border-radius: 5px;
  border: 1px solid #000;
  background: #61AF5F;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 20px;
}

.togroup-container button {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  /* 로그아웃 버튼을 아래로 위치 */
  border-radius: 30px;
  /* 로그아웃 버튼 둥글게 */
  border: 1.5px solid black;
  background: #FFF;
  box-shadow: 4px 4px 4px 0px rgba(85, 84, 84, 0.5);
}