.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.background-image {
    position: relative;
    width: 1670px;
    height: 796px;
    background-image: url("../image/background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-box h2 {
    font-family: Inter;
    text-align: center;
    color: #61af5f;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
}

.id-box input {
    margin-top: 37px;
    width: 380px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    border: none;
    padding-left: 20px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.id-box ::placeholder {
    color: #726f6f;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
}

.password-box input {
    width: 380px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    border: none;
    margin-top: 37px;
    padding-left: 20px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.password-box ::placeholder {
    color: #726f6f;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
}

.signin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-box button {
    width: 393px;
    height: 66px;
    border-radius: 10px;
    background: #61af5f;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border: none;
    margin-top: 55px;
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.signin-container button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

.signup-link {
    margin-top: 28px;
    color: #726f6f;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.signup-link a {
    color: #61af5f;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
    text-decoration: none;
}

.division-line {
    border-top: 1px solid #726f6f;
    margin-top: 27px;
    width: 488px;
}

.kakao-login button {
    border-radius: 10px;
    border: 3px solid #ccba1c;
    background: #fff;
    display: inline-flex;
    padding: 14px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
    color: #726f6f;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.kakao-login button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}